.title {
  margin-bottom: 10px;
}
.options {
  display: flex;
}

.options > * ~ * {
  margin-left: 40px;
}

@media (max-width: 400px) {
  .options {
    flex-direction: column;
  }

  .options > * {
    margin-left: 0;
  }
}
